<section class="content background" data-ng-controller="RedactorController" >


  <section>
  <h1>Demo</h1>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Default</h3></div>
    <div class="panel-body">
      <div class="form-group">

        <textarea id="redactor" ng-model="content" redactor cols="30" rows="10"></textarea>

      </div>
      <br/>
      <p>{{content}}</p>
      <div class="form-group">
        <button class="btn btn-default" ng-click="changeContent()">Change content</button>
      </div>


    </div>
  </div>
  </section>

  <div>
  <div>
    <button type="file" class="btn btn-main btn-footer-overlay grow" data-ng-hide="uploading" ngf-select
            ngf-change="onFileSelect($files)">New Profile Photo
    </button>
  </div>

  <div>
    <p>
      <button id="btn-save" style="display: none;" type="primary" outline>Save</button>
      <button id="btn-cancel" style="display: none;" outline>Cancel</button>
    </p>
  </div>
  </div>


  <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">Air Option</div>-->
    <!--<div class="panel-body">-->
      <!--<div class="form-group">-->
        <!--<textarea ng-model="content" redactor="{air: true, plugins: ['source']}" cols="30" rows="10"></textarea>-->
      <!--</div>-->
      <!--<strong>Markup</strong>-->
      <!--<pre>-->
        <!--&lt;textarea ng-model="content" redactor="{air: true, plugins: ['source']}" cols="30" rows="10"&gt;&lt;/textarea&gt;-->
      <!--</pre>-->
    <!--</div>-->
  <!--</div>-->

</section>
