{% extends 'layout.server.view.html' %}

{% block content %}

<div class="alert alert-danger not-found" role="alert">
  <h1>Oh, traveller, you look lost. Don't worry. That's part of the joy.</h1>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
<span><strong>404 Error: Page Not Found </strong></span>
  <br>
  <br>
<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
<span class="sr-only">Error:</span>
{{url}} is not a valid path.
  <br>

<!--<div class="alert alert-danger" role="alert">-->
  <div>
    <img src="http://www.christanseer.com/images/error/lost.jpg" alt="Mail Gets Lost" class="img-responsive"/>
  </div>
  <div id="extended" class="clearfix shadow">
    <h2>Uh... You lost?</h2>



    <div><a href="http://www.wikihow.com/Survive-Being-Lost-in-the-Forest">Lost</a> in the woods?</div>

    Find that <a href="http://www.ehow.com/how_5700340_reunite-lost-loves.html">lost</a> love!

    Were more jobs <a href="http://thinkprogress.org/economy/2012/06/01/493849/obama-bush-jobs-record/">lost</a>
          under Obama or Bush? (Hint: It rhymes with (and often acted like a) "tush.")


    Feeling spiritually <a href="http://bible.cc/2_corinthians/4-3.htm" target="new">lost</a>?


        Emotionally <a href="http://www.nami.org/">lost</a>? ... still <a
          href="http://www.npr.org/templates/story/story.php?storyId=5165226">lost</a>?



        Emotionally <a href="http://www.wired.com/culture/lifestyle/news/2003/02/57444?currentPage=all">lost</a> and
          ready to move on?



        Emotional <a href="http://en.wikipedia.org/wiki/K%C3%BCbler-Ross_model">loss</a>: Just the facts, Ma'am.



        Merely physically <a href="http://maps.google.com/">lost</a>?


        Things we <a href="http://travel.nytimes.com/2007/04/03/business/03lost.html?_r=0" target="new">lose</a>.



        Letting go of <a href="http://www.mayoclinic.com/health/forgiveness/MH00131">loss</a>: (aka, forgiveness)
          &amp; here <a href="http://youtu.be/kEQgkor-jgU" target="new">too</a>


        How <em>not</em> to <a href="http://www.helpguide.org/mental/mental_emotional_health.htm"
                                   target="new">lose</a> that special someone



        And, if that doesn't work, remember, we're might social folk, so <a
          href="http://www.ted.com/talks/david_brooks_the_social_animal.html" target="new">find</a> others.

    <br>
    (<strong>Warning!</strong> This page will self-destruct once the song is over, in 60 seconds.)</p>
  </div>
</div>
<!--</div>-->

{% endblock %}
