/config/assets/development.js
/modules/projects/client/img/Cafe-on-1st-Avenues-Coffee-Shop-28.jpg
# General
*.csv


# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/


# MEAN.js app and assets
# ======================

modules/users/client/img/profile/uploads
config/env/local.js
config/env/local-*.js
*.pem
/modules/core/server/controllers/envVars.server.controller.js

# Ignoring MEAN.JS's gh-pages branch for documenation
_site/

/modules/core/server/config
/config/env/localEnvVars.js


# MEAN.js app and assets
# ======================
#public/dist/
#/build
/uploads
/modules/projects/server/uploads
/modules/projects/server/models/data/private
/modules/users/server/config/.private




/modules/chat
/modules/.articles
/modules/core/client/img/loaders/circle-close.png
/modules/core/client/img/loaders/circle-close-final-50px.jpg
/modules/core/client/img/loaders/circle-close.svg
/modules/core/client/img/loaders/circle-close-final.jpg
/.aws


# MEAN.js app and assets
# ======================
#public/dist/
#build/
