## General
# ======================
*.csv
/.local-configs
.idea/
# ======================


# NPM and Bower and related ecosystem
# ==========================
.nodemonignore
node_modules/
coverage/
public/lib
# ======================


# MEAN.js app and assets
# ======================
access.log
config/env/local-*.js
*.pem
/config/assets/development.js
/uploads
# Ignoring MEAN.JS's gh-pages branch for documenation
_site/
# ======================


## Mapping SLC Specific
# ======================
/README_internal.md
/bucketPolicyPublicRead.json
/.aws
# ======================
