<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

  <section class="container">
    <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

    <div class="main-content-outer">

      <project-status-overview></project-status-overview>

    </div>
  </section>
</section>
