<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

  <section class="container">
    <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

    <div class="main-content-outer">

      <section data-ng-controller="ProjectsController" data-ng-init="findOne()" class="main-content-inner">

        <div class="view-project">

          <div class="project-nav">
            <a class="btn btn-main grow" ui-sref="listProjects">
              All Projects
            </a>
          </div>

          <div class="page-header">
            <div class="row">
              <div class="col-lg-10">
                <h1 data-ng-bind="project.title"></h1>
              </div>
              <div class="col-lg-2 pull-left">
                <i class="fa fa-heart" ng-click="toggleFavProject()" data-ng-class="{'favorite-true' : isFavorite, 'favorite-false' : !isFavorite}"></i>
              </div>

            </div>

            <!--<br /><p>{{isFavorite}}</p>-->
            <em class="text-muted">
              <span data-ng-bind="project.createdOn | date:'mediumDate'"></span>
              by
              <a data-ng-href="/contributors/{{project.user._id}}"><span data-ng-bind="project.user.displayName"></span></a>
            </em>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="videoWrapper" data-ng-show="project.vimeoId">
                <iframe data-ng-show="!videoSizeSelect()" width="{{vimeo.width}}" height="{{vimeo.height}}"
                        data-ng-src="{{vimeo.video}}" frameborder="0" webkitallowfullscreen mozallowfullscreen
                        allowfullscreen>
                </iframe>
              </div>

              <div class="videoWrapper" data-ng-show="project.soundCloudId">
                <iframe width="100%" height="450" scrolling="no" frameborder="no" data-ng-src="{{soundCloud.audio}}">
                </iframe>
              </div>

              <div data-ng-show="project.imageGallery || images">
                <div class="row">
                  <ul id="grid-view">
                    <a ng-click="openLightboxModal($index)" data-ng-repeat="image in images" class="col-md-3">
                      <li>
                        <img ng-src="{{image}}" class="img-thumbnail">
                      </li>
                    </a>
                  </ul>
                </div>


                <div data-ng-show="project.story !== ''">
                  <p data-ng-bind-html="trustAsHtml(project.story)"></p>
                </div>
                <hr>
                <div>
                  <img ng-src="{{project.mapImage}}" class="img-responsive">
                </div>

                <hr/>
                <h3>Related Stories</h3>

                <div class="pull-right"
                     data-ng-show="((authentication.user) && (authentication.user._id == project.user._id)) || isAdmin.user === 'admin'">
                  <a class="btn btn-main grow" href="/projects/{{project._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                  </a>
                  <a class="btn btn-primary btn-warning" data-ng-click="remove();">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </section>
</section>
