.widget-box {
    background: hsla(156, 48%, 8%, 0.2);
    border: solid 1px #fff9e6;
    /*width: 100px;*/
    /*height: 100px;*/
    display: inline-block;
    visibility: visible;
}

a.widget-box {
    display: block;
    font-size: 2rem;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 2rem 0;
    color: hsla(156, 68%, 29%, 1);
    border: solid 2px transparent;
}

a.widget-box:hover {
    background: hsla(156, 68%, 29%, 1);
    border: solid 2px #ffffff;
    border-radius: 5px;
    color: #FFFFFF;
}

a.widget-box i {
    font-size: 5rem;
    display: flex;
    padding: 3%;
}

a.widget-box span {
    padding-left: 5%;
    margin-top: 14%;
}

.main-content-inner > a > span > i, .admin a > span > i, .view-project a > span > i, .list-projects a > span > i {
    font-size: 3rem;
    color: green;
}

.main-content-inner > a > span > i:hover .list-projects a > span > i:hover {
    background: transparent;
    color: darkgreen;
    transform: scale(1.5);
}

.admin table, .admin tbody {
    border-spacing: 5px;
    border-color: #006666;
}

thead tr {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 1.85rem;
    cursor: pointer;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .border-bottom-width {
    border-bottom-width: 5px;
}

.table-bordered > thead > tr > th:hover, .table-bordered > thead > tr > td:hover, .border-bottom-width:hover {
    background-color: rgba(3, 3, 3, 0.6);
}

[ng-click], [data-ng-click] {
    cursor: pointer;
}

/*tbody tr, tbody > tr:nth-of-type(odd), tbody > tr:nth-of-type(even) {*/
tbody > tr {
    color: #262626;
    font-size: 1.7rem;
}

tbody tr:hover {
    /*cursor: pointer;*/
}

tbody tr td {
    background-color: rgba(2, 58, 49, 0.3);
    color: #fffacd;
}

tbody tr:hover {
    background-color: rgba(2, 58, 49, 0.4);
    color: #000000;
}

div.admin > div.row > div > a > div {
    height: 5.5rem;
    padding: 2%;
    border-bottom: solid 2px #9e9e9e;
    color: #000;
    font-size: 1.85rem;
}

div.admin > div.row > div > a:hover {
    text-decoration: none;
}

div.admin > div.row > div > a > div:hover {
    background-color: rgba(3, 59, 50, 0.6);
    border-radius: 3px;
    color: #ffffff;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.table-bordered {
    border: 5px solid green;
}

.message-read {
    border: 2px solid rgba(0, 64, 208, 0.7);
}

td i .selected {
    color: #FF0000;
}

.user-profile {
    font-size: 1.75rem;
}

.user-profile .row {
    padding-top: 2.5rem;
    border-bottom: 1px solid rgba(158, 158, 158, 1);
    border-bottom: 1px solid #000;
}

.user-profile .no-border {
    border-bottom: none;
}

.user-profile .col-xs-2 {
    text-align: right;
}


.user-profile .input_field-secondary:focus + .input_label-secondary .input_label-content-secondary, .user-profile .input-filled .input_label-secondary .input_label-content-secondary {
    transform: translate(-4.5em, 0.45em);
    margin-top: 10px;
}

.user-profile .input_label-content-secondary {
    padding: 0 0 0 11%;
}

.user-profile .input_field-secondary {
    left: 11%;
    margin-bottom: 0.25em;
    font-size: 2.15rem;
    color: #000;
    text-emphasis: none;
}

.user-profile .input_field {
    font-weight: normal;
    top: 1rem;
}

.user-profile .input_label-secondary::after {
    height: 3px;
}

.user-profile .input {
    max-width: 100%;
    margin-bottom: -5%;
}

.user-profile .grow {
    margin-top: 2%;
}

.admin .btn-warning, .admin-user .btn-warning, .view-project .btn-warning, .modal-content .btn-warning {
    background: rgba(245, 2, 25, 0.9);
}

.user-profile span .pull-right {
    margin: 0 0.5rem;
    transform: translate(16rem, -4rem);
    transition: all 0.3s ease 0s;
}

.user-profile .input-filled > span {
    transform: translate(22rem, -3.5rem);
    transition: all 0.3s ease 0s;
}

.admin .grow:hover, .admin-user .grow:hover, .view-project .btn-go:hover, .view-project .btn-grow:hover, .modal-content .grow:hover {
    border-radius: 5px;
    background: rgba(0, 45, 0, 0.6);
    border-color: #000;
    color: #ffffff;
    transition: all 0.3s ease 0s;
}

.admin .btn-warning:hover, .admin-user .btn-warning:hover, .view-project .btn-warning:hover {
    background: rgba(45, 0, 0, 0.6);
    border-color: #ff0000;
}

.user-profile .fa, .admin .fa, .view-project .fa, .list-projects .fa {
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.user-profile .fa:hover, .admin .fa:hover, .view-project .fa:hover, .list-projects .fa:hover {
    color: #006600;
    background-color: transparent;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/* stlying for hover on main admin panel only */
.admin .widget-box .fa:hover {
    color: #ffffff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.admin-nav {
    margin-bottom: 5%;
}

.admin-user > .admin-nav a {
    position: relative;
}

.admin-user .header-profile-image {
    height: 75px;
    width: 75px;
    position: relative;
    opacity: 1;
    border: solid 2px transparent;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.admin-user .header-profile-image:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.admin-user user-view-form-wrapper .header-profile-image {
    top: -2rem;
}

.admin-user user-view-form-wrapper .header-profile-image:hover {
    opacity: 0.7;
}

.admin-user .page-header {
    border-bottom: 1px solid #023A31;
    z-index: 1;
}

.admin-user span.pull-right {
    margin-left: 5%;
}

.tile img {
    width: 64px;
    height: auto;
}

.admin-list small {
    font-size: 1rem;
}

.clear-both {
    float: right;
}

.admin .admin-projects a.admin-list {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.admin .admin-user .admin-list {
    text-decoration: none;
    color: #000;
}

.admin .admin-user .admin-list:hover {
    background-color: hsla(100,100,100,0.9);
}

.admin .admin-user .admin-list img {
    top: 0;
}

.admin-list:hover {
}

.admin .admin-projects a.admin-list .md-headline {
    font-size: 2.1rem;
    line-height: 135%;
}

.user-submissions .admin-list {
    width: 100%;
    left: 6%;
}

.user-submissions .admin-list .col-md-8 {
    transform: translateY(50%);
    font-family: ubuntu;
    font-size: 3rem;
    top: -10px;
    position: relative;
}

.user-submissions .admin-list .col-md-8 small {
    bottom: 15px;
    position: relative;
}

.admin-list h3 {
    padding: 15px 0;
    text-overflow: ellipsis;
}


#admin-projects-list {
    /*height: 225px;*/
    /*-webkit-transition: all 1s ease;*/
    /*-moz-transition: all 1s ease;*/
    /*-o-transition: all 1s ease;*/
    /*transition: all 1s ease;*/
}

md-select-menu .md-overflow {
    left: 30px;
    bottom: 50px;
    position: relative;
}

md-content {
    /*background-color: #FAEBD7;*/
    background-color: transparent;
}

md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    font-weight: bold;
    font-family: verdana, sans-serif;
    padding: 4px;
}

.project-create md-input-container {
    margin: 5px 0;
    max-width: 350px;
    width: 110%;
}

.md-input-has-value.md-input-focused label, .md-input-has-value label {
    color: #000000;
    transform: translate3d(0, -6px, 0) scale(1.05)
}

.project-files {
    display: inline-flex;
    margin: 2%;
}

.project-files div div div {
    display: inline-flex;
}

