<section class="row">
    <div class="col-xs-offset-1 col-md-11">

      <div class="file-upload">

      <!-- current image -->
        <div class="row">
          <div class="col-md-5 profile-image-box">
            <img data-ng-src="{{user.profileImage.thumbImageUrl}}" class="img-responsive">
          </div>

          <!-- preview image -->
            <div class="col-md-5 preview-box" data-ng-show="files && !uploading">
              <h3>Image Preview</h3>
              <div class="">
                <img ngf-src="files[0]" class="preview-img" ngf-resize="{width: 200, height: 200, quality: 0.9}">
                <span data-ng-click="files = null">x</span>
              </div>
            </div>

          </div>


          <div class="row profile-image-buttons">
          <div class="col-md-10">
            <md-button class="md-raised" data-ng-model="files" ngf-select
                       ngf-multiple="true" ngf-fix-orientation="true"
                       accept=".jpeg,.jpg,.png,image/*" ngf-max-size="3MB"
                       ngf-model-invalid="errorFile"
                       data-ng-change="filesChanged(files)"
                       data-ng-show="files || !uploading">
              Select New Photo
            </md-button>

            <md-button class="md-raised pull-right" data-ng-click="imageUpload('users', user._id, files)" data-ng-show="files && !uploading">Upload</md-button>
          </div>
        </div>


      <span class="progress" ng-show="files.progress >= 0">
        <div style="width:{{files.progress}}%" ng-bind="files.progress + '%'"></div>
      </span>

      <span ng-show="files.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

      <div ng-show="success" class="text-center text-success">
        <strong>Profile Picture Updated</strong>
      </div>

      <div ng-show="error" class="text-center text-danger">
        <strong ng-bind="error"></strong>
      </div>

    </div>
  </div>
</section>
