<div id="main-menu" class="main-menu">
  <main-menu></main-menu>
</div>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

  <section class="container">

    <div class="main-logo" ui-sref="home"></div>

    <div class="main-content-outer">
      <section class="main-content-inner">

        <section class="auth-form">
          <h1 class="page-header text-center">Welcome, Mapper!</h1>
          <h3 class="page-header text-center">Take just a minute to complete your profile</h3>

          <div flex layout="row" layout-align="center center">
            <div flex-sm="100" flex-gt-sm="100" flex-gt-md="100" flex-gt-lg="100">
              <md-content class="layout-padding">

                <form name="completeUserForm" class="signin form-horizontal" novalidate autocomplete="off">

                  <!--Row #1-->
                  <div layout-gt-xs="row">
                    <md-input-container flex="10">
                      <label>Prefix</label>
                      <input type="text" data-ng-model="credentials.namePrefix">
                    </md-input-container>

                    <md-input-container flex="35">
                      <label>First Name</label>
                      <input type="text" data-ng-model="credentials.firstName" required="">
                    </md-input-container>

                    <md-input-container flex="35">
                      <label>Last Name</label>
                      <input type="text" data-ng-model="credentials.lastName">
                    </md-input-container>

                  </div>


                  <!--Row #2-->
                  <div layout-gt-xs="row">
                    <md-input-container flex="80">
                      <label>Email</label>
                      <input type="email" data-ng-model="credentials.email" name="email" ng-pattern="/^.+@.+\..+$/" required="">
                    </md-input-container>
                  </div>

                  <!-- Row #2 -->
                  <div layout-gt-xs="row">

                    <md-input-container flex="40" class="md-block">
                      <label>Address</label>
                      <input data-ng-model="credentials.userAddress1">
                    </md-input-container>

                    <md-input-container class="md-block" flex="40">
                      <label>Address 2/Apt/Ste</label>
                      <input data-ng-model="credentials.userAddress2">
                    </md-input-container>

                  </div>


                  <!-- Row #3 -->
                  <div layout-gt-xs="row">

                    <md-input-container flex="40">
                      <label>City</label>
                      <input type="text" data-ng-model="credentials.userCity">
                    </md-input-container>

                    <md-input-container flex="15">
                      <label>State</label>
                      <md-select data-ng-model="credentials.userState">
                        <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                          {{state.abbrev}}
                        </md-option>
                      </md-select>
                    </md-input-container>

                    <md-input-container flex="25">
                      <label>Zip</label>
                      <input name="zip" data-ng-model="credentials.userZip" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                      <div ng-messages="completeUserForm.zip.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Don't forget your zip code! (and it doesn't have to be in SLC or Utah, fyi)
                        </div>
                        <div ng-message="pattern" class="my-message">Double check your zip code, please</div>
                      </div>
                    </md-input-container>
                  </div>

                  <!-- Row #4 -->
                  <div layout-gt-xs="row">
                    <md-input-container flex="40">
                      <label>Would you like to receive our quarterly newsletter?</label>
                      <md-switch data-ng-model="credentials.newsletter" aria-label="Quarterly Newsletter" ng-true-value="'Yes'" ng-false-value="'No'">
                        {{ credentials.newsletter }}
                      </md-switch>
                    </md-input-container>
                  </div>


                </form>


                <div class="row">
                  <div class="col-xs-offset-4 col-xs-6 col-md-offset-4 col-md-8">
                    <div class="form-group">
                      <div>
                        <md-button data-ng-click="completeSignup(completeUserForm.$valid)"  class="md-raised">Sign up</md-button>
                        <!--<md-button data-ng-click="signup(completeUserForm.$valid)"  class="md-raised">Sign up</md-button>-->
                        &nbsp; or&nbsp;
                        <md-button ui-sref="authentication.signin" class="show-signup">Sign in</md-button>
                      </div>

                      <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                      </div>

                    </div>
                  </div>
                </div>

                <div ng-show="error" class="text-center text-danger">
                  <strong ng-bind="error"></strong>
                </div>


            </div>
            </md-content>
          </div>

        </section>
      </section>
    </div>
  </section>
</section>
