<section class="user-submissions">

  <div class="list-group">
    <div class="row">

      <div class="col-md-7">
        <h3 class="settings-subtitle">Submissions</h3>
      </div>

        <div class="col-md-5 pull-right">
          <md-input-container>
            <label>Submission Status</label>
            <md-select id="status" data-ng-model="subStatuses">
              <md-optgroup label="Submission Status">
                <md-option ng-value="subStatuses[0]" ng-repeat="subStatus in subStatuses">
                  {{subStatus}}
                </md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

      </div>

    <div class="row">

      <a data-ng-repeat="userProject in userProjects" ui-sref="settings.submissionsView({projectId: userProject.id})" class="col-md-12 md-whiteframe-8dp admin-list">

        <div class="row">

          <div class="col-md-3">
            <img data-ng-src="{{userProject.mainImgThumbnail}}"/>
          </div>

          <div class="col-md-8">
            <h4 class="list-group-item-heading" data-ng-bind="userProject.title"></h4>
            <small>
              Submitted on <span data-ng-bind="userProject.createdOn | date:'short'"></span>
            </small>

          </div>

        </div>
      </a>

    </div>
  </div>

</section>
