<div id="main-menu" class="main-menu"><main-menu></main-menu></div>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}" onerror="myFunction()">

  <section class="container">
    <div class="main-logo" ui-sref="home"></div>

    <div class="main-content-outer">

      <!--<section data-ng-controller="ProjectsController" class="main-content-inner">-->
      <section data-ng-controller="ProjectsController" data-ng-init="findOne()" class="main-content-inner">

        <div class="admin">
          <div class="admin-projects" layout="column">

            <div layout="">
              <md-button class="md-raised" ui-sref="admin.dashboard">
                Admin Home Page
              </md-button>
                <md-button class="md-raised" ui-sref="admin.adminProjectsQueue">
                Admin Project Page
                </md-button>
                  <md-button class="md-raised" ui-sref="viewProjectPreview({projectId: project.id})">
                Go to Preview
                  </md-button>
              <md-button class="md-raised" ui-sref="viewProject({projectId: project.id})">
                Go to Project
              </md-button>
            </div>

            <md-content  layout="">
              <md-button class="md-raised" data-ng-show="!toggleEdit" data-ng-click="toggleEdit = !toggleEdit"><ng-md-icon icon="create"></ng-md-icon></md-button>
              <md-button data-ng-show="toggleEdit" data-ng-click="toggleEditFn(0)" class="md-raised btn-warning">Cancel</md-button>
              <md-button data-ng-show="toggleEdit" type="submit" data-ng-click="toggleEditFn(0)" class="md-raised">Save</md-button>
            </md-content>

          <div>
            <h1>{{project.title}}</h1>
          </div>


            <div class="row projects-profile">
              <div class="col-xs-12">
                <form class="form-horizontal" data-ng-submit="updateProject(project.$valid, toggleId)" novalidate>
                  <fieldset>
                    <project-tabs></project-tabs>
                  </fieldset>
                </form>
              </div>
            </div>

            <div class="pull-right">
              <a class="btn btn-main grow btn-warning" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>

          </div>
        </div>
      </section>
    </div>
  </section>
</section>
