<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}" onerror="myFunction()">

  <section class="container">
    <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

    <div class="main-content-outer">

      <section data-ng-controller="ProjectsController" data-ng-init="findOne()" class="main-content-inner">

        <div class="admin">
          <div class="admin-projects">

            <div class="admin-nav">
              <a class="btn btn-main grow" ui-sref="admin.dashboard">
                Admin Home Page
              </a>
              <a class="btn btn-main grow" ui-sref="admin.adminProjectsQueue">
                Admin Project Page
              </a>
              <a class="btn btn-main grow" ui-sref="viewProjectPreview({projectId: project.id})">
                Go to Preview
              </a>
              <a class="btn btn-main grow" ui-sref="viewProject({projectId: project.id})">
                Go to Project
              </a>
            </div>

            <div class="page-header">
              <h1>{{project.title}}
                <a ui-sref="admin.adminViewUser({userId: user._id})" data-ng-show="'modules/core/img/{{photo0}}'"><span><img
                  src="../../modules/users/client/img/profile/default.png" class="header-profile-image pull-right"/></span></a>
                <a href="#" data-ng-hide="'modules/core/img/{{photo0}}'"><span><img src="../../modules/users/client/img/profile/default.png" class="header-profile-image pull-right"/></span>Upload a Pic</a>
              </h1>
            </div>

            <div class="row projects-profile">
              <div class="col-xs-12">

                <!--<a class="btn btn-main grow" data-ng-click="processNlpData()">-->
                  <!--NLP!-->
                  <!--<i class="fa fa-check"></i>-->
                <!--</a>-->

                <!--<a class="btn btn-main grow" data-ng-click="confirmPublishModal()">-->
                  <!--Yodal My Modal-->
                  <!--<i class="fa fa-check"></i>-->
                <!--</a>-->

                <form class="form-horizontal" data-ng-submit="update(project.$valid, toggleId)" novalidate>
                  <fieldset>
                    <project-view-form></project-view-form>
                  </fieldset>
                </form>

              </div>
            </div>

            <hr>

            <div class="pull-right">
              <a class="btn btn-main grow btn-warning" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>

          </div>
        </div>
      </section>
    </div>
  </section>
</section>
