<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

  <section class="container">
    <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

    <div class="main-content-outer">

      <section data-ng-controller="ProjectsController" data-ng-init="find()" class="main-content-inner">

        <div class="admin">

          <div class="admin-projects">

            <div class="admin-nav">
              <a class="btn btn-main grow" ui-sref="admin.dashboard">
                Admin Home Page
              </a>
            </div>

            <div class="page-header">
              <h1>Admin Panel</h1>
            </div>
            
            <div layout="row">
              <md-input-container>
                <label>Sort Order</label>
                <md-select id="sortAdminProjectList" data-ng-model="sorts">
                  <md-optgroup label="Sort By">
                    <md-option ng-value="sort.value" ng-repeat="sort in sorts">{{sort.name}}
                    </md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>


            <div class="row">
              <a data-ng-repeat="project in projects | orderBy:sorts" data-ng-href="/admin/edit-project/{{project._id}}" class="col-md-6 col-sm-12 admin-list" id="admin-projects-list">
                <h3 class="list-group-item-heading" data-ng-bind="project.title"></h3>
                <div data-ng-bind="project.user.displayName"></div>
                <small>
                  Submitted:
                  <span data-ng-bind="project.createdOn | date:'medium'"></span>
                </small>

              </a>

            </div>

            <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
              No projects are currently waiting for approval. Check <a href="#">blah blah</a> for blah blah.
            </div>

          </div>
        </div>

      </section>
    </div>
  </section>
</section>
