<div id="main-menu" class="main-menu"><main-menu></main-menu></div>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}" onerror="myFunction()">

  <section class="container">
    <img src="../../../../modules/core/client/img/brand/mapping.png" class="small-main-logo logo-on-page logo-second-page img-responsive" ui-sref="home" />
    
    <div class="main-content-outer">

      <section data-ng-controller="ProjectsController" data-ng-init="findOne()" class="main-content-inner">

        <div class="admin">
          <div class="admin-projects">

            <div class="admin-nav">
              <a class="btn btn-main grow" ui-sref="admin.dashboard">
                Admin Home Page
              </a>
              <a class="btn btn-main grow" ui-sref="admin.adminProjectsQueue">
                Admin Project Page
              </a>
              <a class="btn btn-main grow" ui-sref="viewProjectPreview({projectId: project.id})">
                Go to Preview
              </a>
              <a class="btn btn-main grow" ui-sref="viewProject({projectId: project.id})">
                Go to Project
              </a>
            </div>

          <div>
            <h1>{{project.title}}</h1>
          </div>

            <div class="row projects-profile">
              <div class="col-xs-12">
                <form class="form-horizontal" data-ng-submit="update(project.$valid, toggleId)" novalidate>
                  <fieldset>
                    <project-tabs></project-tabs>
                  </fieldset>
                </form>

              </div>
            </div>

            <hr>

            <div class="pull-right">
              <a class="btn btn-main grow btn-warning" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>

          </div>
        </div>
      </section>
    </div>
  </section>
</section>
