<div id="main-menu" class="main-menu">
  <google-menu></google-menu>
</div>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

  <section class="container">
  <img src="../../../../modules/core/client/img/brand/mapping.png" class="small-main-logo logo-on-page logo-second-page img-responsive" ui-sref="home" />
    
    <div class="main-content-outer">

      <section data-ng-controller="ProjectsController" data-ng-init="find()" class="main-content-inner">
        
        <div class="admin">
          <div class="admin-projects">
            <div class="admin-nav"><a class="btn btn-main grow" ui-sref="admin.dashboard">Admin Home Page</a>
            </div>
            
            <div class="page-header"><h1>Admin Panel</h1></div>
            
            <div layout="row">
              <md-input-container>
                <label>Sort Order</label>
                <md-select id="sortAdminProjectList" data-ng-model="sorts">
                  <md-optgroup label="Sort By">
                    <md-option ng-value="sort.value" ng-repeat="sort in sorts">{{sort.name}}
                    </md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
  
            <md-grid-list md-cols="2" md-row-height="4:3" md-gutter="1em">
              <md-grid-tile data-ng-repeat="project in projects | orderBy:sorts" class="admin-list md-whiteframe-1dp" flex-gt-xs="40" ui-sref="admin.adminEditProject({ 'projectId' : project._id })">
                <img ng-src="{{project.mainImageData.thumbImageUrl}}" class="project-tile-image" alt="{{project.title}}">
                <md-grid-tile-footer data-ng-bind="project.title"></md-grid-tile-footer>
                    <!--<md-card-actions layout="row" layout-align="end center">-->
                      <!--<md-button class="md-icon-button" aria-label="Favorite">-->
                        <!--<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>-->
                      <!--</md-button>-->
                      <!--<md-button class="md-icon-button" aria-label="Settings">-->
                        <!--<md-icon md-svg-icon="menu"></md-icon>-->
                      <!--</md-button>-->
                      <!--<md-button class="md-icon-button" aria-label="Share">-->
                        <!--<md-icon md-svg-icon="share-arrow.svg"></md-icon>-->
                      <!--</md-button>-->
                    <!--</md-card-actions>-->
              </md-grid-tile>
            </md-grid-list>
                
            <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
              No projects are currently waiting for approval. Check <a href="#">blah blah</a> for blah blah.
            </div>

          
          </div>
        </div>

      </section>
    </div>
  </section>
</section>
