<section class="container map" data-ng-controller="HomeController" data-ng-init="mapFunction()">

  <!--logo-->
  <div data-ng-show="!overlayActive && !menuOpen">
    <img src="modules/core/client/img/brand/mapping.png" class="small-main-logo logo-on-page img-responsive" data-ng-click="toggleOverlayFunction('home')"/>
  </div>

  <main-page-overlay></main-page-overlay>

  <projects-side-bar></projects-side-bar>

  <!--call MapBox map-->
  <div id="map" class="map" data-ng-class="{'leaflet-tile-gray': !shadeMap}">
    <map-view-controls></map-view-controls>
  </div>
  

  <div id="main-menu" class="main-menu">
    <main-menu></main-menu>
  </div>
  
  
  <div id="info" class="info" data-ng-class="{'info-project-details': toggleDetails}"></div>

</section>
