<section>
  <div>
    <div class="text-center page-header">
      <h2>Featured Projects</h2>
    </div>

    <div class="row">

      <ul class="grid cs-style-4 col-md-4 col-sm-4" data-ng-repeat="featuredProject in featuredProjects">
        <figure>
          <a ui-sref="viewProject({projectId: featuredProject.id})">
            <div>
              <img class="img-responsive" data-ng-src="{{featuredProject.mainImgThumbnail}}" class="desaturate"/>
            </div>
          </a>

          <figcaption>
            <a ui-sref="viewProject({projectId: featuredProject.id})"><span>{{featuredProject.title}}</span></a>
          </figcaption>

        </figure>
      </ul>


    </div>
  </div>
</section>
