<section class="featured-projects">
  <div>
    <div class="text-center page-header">
      <h3>Featured Projects</h3>
    </div>

    <div class="row">

      <ul class="grid cs-style-4 col-md-4 col-sm-4" data-ng-repeat="featuredProject in featuredProjects" ng-mouseenter="showTitle=true" ng-mouseleave="showTitle=false">

        <figure>
          <a ui-sref="viewProject({projectId: featuredProject.id})">
            <div>
              <img class="img-responsive" data-ng-src="{{featuredProject.mainImgThumbnail}}" class="desaturate"/>

                <div class="btn btn-main btn-footer-overlay grow" data-ng-show="showTitle">
                  <div>{{featuredProject.title}}</div>
                </div>

            </div>
          </a>

        </figure>
      </ul>


    </div>
  </div>
</section>
