<section layout="" class="footer-overlay" data-ng-class="{'main-overlay-hidden': toggleOverlayOff}">>

  <div layout="" flex="50" class="attribution-links">
    <span
      flex=""
      class="fb-like"
      data-ng-cloak=""
      data-share="true"
      data-show-faces="true">
    </span>
    <a id="uhc-logo" flex="" href="http://www.utahhumanities.org/" target="_blank"></a>
    <a id="u-of-utah-logo" flex="" href="http://www.utah.edu/" target="_blank"></a>
    <a id="westminster-logo" flex="" href="http://www.westminstercollege.edu/" target="_blank"></a>
  </div>

  <form layout="" flex="50" data-ng-controller="UserController" name="subscribe"
        data-ng-submit="newsletterSubscription(subscribe.$valid)" novalidate>
    <md-input-container flex="" layout-align="stretch center">
      <input type="email" data-ng-model="subscribe.newsletter" placeholder="E-mail for Quarterly Newsletter" required>
    </md-input-container>
    <div layout="" layout-align="end center">
      <md-button class="md-raised md-primary md-btn-border" type="submit" aria-label="subscribe to newsletter">
        Subscribe
      </md-button>
    </div>
  </form>
</section>
