<li class="my-trigger" ng-click="menuToggle($event)" ng-mouseenter="showAll || mouseenter()"
    ng-mouseleave="showAll || mouseleave()">

  <a id="triggerMenu" class="fa fa-3x fa-bars" ng-class="{'active':showAll}" data-ng-click="toggleOverlayFunction('overlay')"></a>

  <nav ng-mouseenter="showAll|| menuHover($event)" class="my-menu-wrapper"
       ng-class="{'my-open-part' : showPart,'my-open-all' : showAll, 'my-open-none': showNone}">
    <div class="my-scroller">

      <ul class="my-menu">


        <div class="content-style-sidebar">
          <ul>
            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="home" data-ng-click="toggleOverlayFunction('home')">
                  <i class="fa fa-home"></i>
                  Home
                </a>
              </li>
            </div>

            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="listProjects">
                  <i class="fa fa-map-marker"></i>
                  Projects
                </a>
              </li>
            </div>

            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="contributors">
                  <i class="fa fa-users"></i>
                  Contributors
                </a>
              </li>
            </div>

            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="createProject">
                  <i class="fa fa-file"></i>
                  Submit a Project
                </a>
              </li>
            </div>

            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="aboutMappingSlc">
                  <i class="fa fa-map-signs"></i>
                  About Mapping SLC
                </a>
              </li>
            </div>

            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="createContact">
                  <i class="fa fa-envelope"></i>
                  Contact Us
                </a>
              </li>
            </div>

            <div class="row" data-ng-show="user.roles[0] !== undefined">
              <li class="col-sm-12">
                <a ui-sref="settings.profile">
                  <i class="fa fa-cog"></i>
                  Account Settings
                </a>
              </li>
            </div>

            <div class="row" data-ng-show="user.roles[0] === undefined">
              <li class="col-sm-12">
                <a ui-sref="authentication.signin">
                  <i class="fa fa-sign-in"></i>
                  Sign In
                </a>
              </li>
            </div>

            <div class="row" data-ng-show="user.roles[0] === undefined">
              <li class="col-sm-12">
                <a ui-sref="authentication.signup">
                  <i class="fa fa-user-plus"></i>
                  Sign Up
                </a>
              </li>
            </div>

            <div class="row" data-ng-show="user.roles[0] === 'admin'">
              <li class="col-sm-12">
                <a ui-sref="admin.dashboard">
                  <i class="fa fa-star"></i>
                  Admin Panel
                </a>
              </li>
            </div>

          </ul>
        </div>

      </ul>


    </div>

  </nav>
</li>
