<!--<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css" />-->
<!--<link rel="stylesheet" type="text/css" href="./css/component.css">-->
<!--<link rel="stylesheet" type="text/css" href="./css/main.css">-->
<!--<link rel="stylesheet" type="text/css" href="./css/scroll-bar-style.css">-->

	<!-- ========== MAIN MENU ========== -->
	<header>
		<ul id="my-menu" class="my-menu-main">
			<li left-menu></li>
			<li ng-controller="chatController">
        <!--<a ng-click="chatSideChangeState()" class="fa fa-comments-o fa-3x"></a>-->
        <a ng-click="chatSideChangeState()"><img src="modules/core/client/img/brand/mapping_150w.png" class="fa-3x"/> </a>
      </li>
		</ul>
	</header>



	<div class="content-body" ng-controller="contentBodyController" ng-click=" isMenuClosed  || closeMenu() ">
		<div style="height: 100%; width: 100%; background-color: yellow;">
			<a style="padding-top: 100px; margin-left: 100px;" href="{{href}}" target="_blank">{{text}}</a>
		</div>
	</div>



	<!--<div ng-controller="chatController" class="aside ng-scope right " ng-class="{'closed':chatSide}">-->
		<!--<div class="aside-dialog">-->
			<!--<div class="aside-content">-->
				<!--<div class="aside-header">-->
					<!--<button type="button" class="close" ng-click="chatSideChangeState()">×</button>-->
					<!--<h4 class="  ">{{title}}</h4>-->
				<!--</div>-->
				<!--<div class="aside-body">-->
					<!--<ul>-->
						<!--<li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio da altro utente, avrà l'immagine del profilo a sinistra, forse anche colorato lo sfondo di un altro colore</p>-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li><li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio da altro utente, avrà l'immagine del profilo a sinistra, forse anche colorato lo sfondo di un altro colore</p>-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li><li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio da altro utente, avrà l'immagine del profilo a sinistra, forse anche colorato lo sfondo di un altro colore</p>-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li>-->

						<!--<li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->

									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio inviato da me, avrà l'immagine a destra!</p>-->
									<!--</div>-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li>-->
						<!--<li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio da altro utente, avrà l'immagine del profilo a sinistra, forse anche colorato lo sfondo di un altro colore</p>-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li>-->

						<!--<li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->

									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio inviato da me, avrà l'immagine a destra!</p>-->
									<!--</div>-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li>-->
						<!--<li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio da altro utente, avrà l'immagine del profilo a sinistra, forse anche colorato lo sfondo di un altro colore</p>-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li>-->

						<!--<li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->

									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio inviato da me, avrà l'immagine a destra!</p>-->
									<!--</div>-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li>-->
						<!--<li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio da altro utente, avrà l'immagine del profilo a sinistra, forse anche colorato lo sfondo di un altro colore</p>-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li>-->
						<!--<li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->

									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio inviato da me, avrà l'immagine a destra!</p>-->
									<!--</div>-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li>-->
						<!--<li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio da altro utente, avrà l'immagine del profilo a sinistra, forse anche colorato lo sfondo di un altro colore</p>-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li>-->
						<!--<li><a href="javascript:void(0)">-->
								<!--<div class="single-message row-fluid">-->

									<!--<div class="message">-->
										<!--<p class="well" style="padding: 6px">Messaggio inviato da me, avrà l'immagine a destra!</p>-->
									<!--</div>-->
									<!--<div class="face">-->
										<!--<img alt="user image" ng-src="{{userImage}}" class="thumbnail">-->
									<!--</div>-->
								<!--</div>-->
						<!--</a></li>-->

					<!--</ul>-->
				<!--</div>-->
				<!--<div class="aside-footer row-fluid">-->
					<!--<div class="input-chat">-->
						<!--<input type="text" placeholder=" Write Here...">-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

	<!--</div>-->
