<div id="sidebar" class="sidebar" ng-class="{'collapsed': !menuOpen}">
  <!--todo lookup the ng-class for 'collapsed' class to see if this is actually messing something up -->

  <!-- Main Menu Closed -->
  <ul class="sidebar-tabs" role="tablist">
    <li data-ng-click="toggleOverlayFunction('menu-closed')"><a href="#home" role="tab"><i class="fa fa-bars"></i></a>
    </li>
    <li data-ng-click="toggleOverlayFunction('menu-closed')"><a href="#profile" role="tab"><i
      class="fa fa-user"></i></a></li>
    <li data-ng-click="toggleOverlayFunction('menu-closed')"><a href="#messages" role="tab"><i
      class="fa fa-envelope"></i></a></li>
    <li data-ng-click="toggleOverlayFunction('menu-closed')"><a href="#settings" role="tab"><i
      class="fa fa-gear"></i></a></li>
    <li data-ng-click="toggleOverlayFunction('menu-closed')"><a href="#details" role="tab"></a></li>
  </ul>

  <!-- Main Menu Open -->
  <!-- Tab panes -->
  <div class="sidebar-content active" data-ng-show="menuOpen">

    <div>
      <img src="modules/core/client/img/brand/mapping.png" class="small-main-logo logo-in-menu img-responsive" />
    </div>

    <div class="sidebar-pane" id="home" data-ng-click="toggleOverlayFunction('menu-open')">

      <div class="morph-content">

        <div class="content-style-sidebar">
          <ul>
            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="home" data-ng-click="toggleOverlayFunction('home')">
                  <i class="fa fa-home"></i>
                  Home
                </a>
              </li>
            </div>

            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="listProjects">
                  <i class="fa fa-map-marker"></i>
                  Projects
                </a>
              </li>
            </div>

            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="contributors">
                  <i class="fa fa-users"></i>
                  Contributors
                </a>
              </li>
            </div>

            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="createProject">
                  <i class="fa fa-file"></i>
                  Submit a Project
                </a>
              </li>
            </div>

            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="aboutMappingSlc">
                  <i class="fa fa-map-signs"></i>
                  About Mapping SLC
                </a>
              </li>
            </div>

            <div class="row">
              <li class="col-sm-12">
                <a ui-sref="createContact">
                  <i class="fa fa-envelope"></i>
                  Contact Us
                </a>
              </li>
            </div>

            <div class="row" data-ng-show="user.roles[0] !== undefined">
              <li class="col-sm-12">
                <a ui-sref="settings.profile">
                  <i class="fa fa-cog"></i>
                  Account Settings
                </a>
              </li>
            </div>

            <div class="row" data-ng-show="user.roles[0] === undefined">
              <li class="col-sm-12">
                <a ui-sref="authentication.signin">
                  <i class="fa fa-sign-in"></i>
                  Sign In
                </a>
              </li>
            </div>

            <div class="row" data-ng-show="user.roles[0] === undefined">
              <li class="col-sm-12">
                <a ui-sref="authentication.signup">
                  <i class="fa fa-user-plus"></i>
                  Sign Up
                </a>
              </li>
            </div>

            <div class="row" data-ng-show="user.roles[0] === 'admin'">
              <li class="col-sm-12">
                <a ui-sref="admin.dashboard">
                  <i class="fa fa-star"></i>
                  Admin Panel
                </a>
              </li>
            </div>

          </ul>
        </div>
      </div>

      <hr/>
      <div class="menu-text">
        <p>Mapping Salt Lake City is a community-created archive of Salt Lake City’s
          neighborhoods and people that documents the city’s changes through art, critical and creative
          literature, personal maps and multi-media projects.</p>

        <p>We invite people to engage with and evolve this site by submitting their own contributions.</p>

      </div>

      <div class="social-media-button">
        <li>
          <a ui-sref="https://twitter.com/mappingslc">
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a ui-sref="https://www.facebook.com/MappingSaltLakeCity">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
      </div>

    </div>


    <!--profile menu-->

    <div class="sidebar-pane" id="profile" data-ng-click="toggleOverlayFunction('menu-open')">
    </div>

    <!--messages menu-->
    <div class="sidebar-pane" id="messages" data-ng-click="toggleOverlayFunction('menu-open')">
      <h1>Categories & Filters</h1><br/>

      <div id="check-awesome" class="form-group filter first-filter">
        <input type="checkbox" checked=checked name="filters" id="interviews" value="interviews">
        <label for="interviews">
          <span class="check"></span>
          <span class="box"></span>
          Interviews
        </label>
      </div>

      <div id="check-awesome" class="form-group filter">
        <input type="checkbox" checked=checked name="filters" id="essays" value="essays">
        <label for="essays">
          <span class="check"></span>
          <span class="box"></span>
          Essays
        </label>
      </div>

      <div id="check-awesome" class="form-group filter">
        <input type="checkbox" id="multimedia" checked="checked" name="filters" value="multimedia">
        <label for="multimedia">
          <span class="check"></span>
          <span class="box"></span>
          Multimedia
        </label>
      </div>

      <div id="check-awesome" class="form-group filter">
        <input type="checkbox" id="census-data" data-ng-model="censusDataTractLayer"
               ng-change="toggleCensusData()">
        <label for="census-data">
          <span class="check"></span>
          <span class="box"></span>
          Census Data
        </label>
      </div>

      <div id="check-awesome" class="form-group filter">
        <input type="checkbox" id="google-places-data" data-ng-model="googlePlacesLayer"
               ng-change="GooglePlacesData()">
        <label for="google-places-data">
          <span class="check"></span>
          <span class="box"></span>
          Points of Interest<br/>
        </label>
      </div>

    </div>

    <!--settings menu-->
    <div class="sidebar-pane" id="settings" data-ng-click="toggleOverlayFunction('menu-open')">

    </div>

    <!--details menu-->
    <div class="sidebar-pane" id="details"><h1>Project Summary</h1>

      <h3>{{storyEvent.title}}</h3>

      <div class="sidebar-view-date ">
        <small>{{storyEvent.published}}</small>
      </div>
      <img data-ng-src="{{storyEvent.mainImage}}">

      <div class="sidebar-view-text-content">
        <!--<p data-ng-bind-html="storyEvent.summary"></p>-->
        <p data-ng-bind-html="trustAsHtml(storyEvent.summary)"></p>
      </div>
      <p>
        <button type="button" class="btn btn-main btn-footer-overlay grow"
                data-ng-click="goToProject(storyEvent.projectId)">Read More
        </button>
        <button type="button" class="btn btn-main btn-footer-overlay grow">Share</button>
      </p>

    </div>
  </div>

</div>
