<section class="container home-view" ng-class="{'toggle-sidebar': toggleSidebar}" data-ng-show="overlayActive" ng-class="{'main-overlay-hidden': !overlayActive}">
  <div class="main-overlay core" layout="column">
    <div layout="">
      <div flex="60" class="main-logo logo-overlay"></div>
      <div flex="30" layout-align="end center"><sign-in-directive></sign-in-directive></div>
      <div flex="10" layout-align="start center" class="close-overlay" data-ng-click="toggleOverlayFunction('overlay')" ng-class="{'main-overlay-hidden': !overlayActive}"><i class="fa fa-times"></i></div>
    </div>

    <p><span>Mapping Salt Lake City</span> is a community-created archive of Salt Lake City’s neighborhoods and people that documents the city’s changes through art, critical and creative literature, personal maps and multi-media projects.</p>
    <p>We invite people to engage with and evolve this site by submitting their own contributions.</p>

    <!-- two column div begin here -->
    <div layout="row two-columns">
      <featured-projects flex="66"></featured-projects>
      <submit-project-directive flex="33"></submit-project-directive>
    </div>

  </div>

  <footer-directive></footer-directive>

</section>
