<!--
***
***  THIS IS THE MENU SIDEBAR FOR ALL PAGES EXCEPT THE HOME PAGE
***
-->

<!--this icon will be displayed when the menu is closed-->
<!--<strong data-ng-show="!toggleSecondMenu" data-ng-click="toggleSecondMenu=!toggleSecondMenu">-->
<strong data-ng-show="!toggleSecondMenu">
  <div class="menu-toggle-backdrop">
        <span>
            <i class="menu-icon menu-closed-icon fa fa-bars" data-ng-click="toggleSecondMenu=!toggleSecondMenu"></i>
        </span>
  </div>
</strong>


<!--this is the icon that will be displayed in the menu is open-->
<section data-ng-show="toggleSecondMenu"
         data-ng-class="{'menu-top-level': toggleSecondMenu, 'menu-top-level-closed': !toggleSecondMenu}">

  <!--<div data-ng-click="toggleSecondMenu=!toggleSecondMenu"> &lt;!&ndash;toggle icon for secondary menu, BEGIN&ndash;&gt;-->
  <div> <!--toggle icon for secondary menu, BEGIN-->
    <strong>
            <span>
                <i class="menu-icon menu-open-icon fa fa-bars" data-ng-click="toggleSecondMenu=!toggleSecondMenu"></i>
            </span>
    </strong>
  </div>
  <!--toggle icon for secondary menu, END-->


  <div class="menu-body">
    <div class="row">
      <div class="col-sm-12">

        <ul>
          <a ui-sref="home" class="col-sm-12">
            <li>
              <i class="fa fa-home"></i>
              Home
            </li>
          </a>

          <a ui-sref="listProjects" class="col-sm-12">
            <li>
              <i class="fa fa-map-marker"></i>
              Projects
            </li>
          </a>

          <a ui-sref="contributors" class="col-sm-12">
            <li>
              <i class="fa fa-users"></i>
              Contributors
            </li>
          </a>

          <a ui-sref="createProject" class="col-sm-12">
            <li>
              <i class="fa fa-file"></i>
              Submit a Project
            </li>
          </a>

          <a ui-sref="aboutMappingSlc" class="col-sm-12">
            <li>
              <i class="fa fa-map-signs"></i>
              About Mapping SLC
            </li>
          </a>
          <a ui-sref="createContact" class="col-sm-12">
            <li>
              <i class="fa fa-envelope"></i>
              Contact Us
            </li>
          </a>
          <a ui-sref="settings.profile" class="col-sm-12" data-ng-show="user.roles[0] !== undefined">
            <li>
              <i class="fa fa-cog"></i>
              Account Settings
            </li>
          </a>

          <a ui-sref="authentication.signin" class="col-sm-12" data-ng-show="user.roles[0] === undefined">
            <li>
              <i class="fa fa-sign-in"></i>
              Sign In
            </li>
          </a>

          <a ui-sref="authentication.signup" class="col-sm-12" data-ng-show="user.roles[0] === undefined">
            <li>
              <i class="fa fa-user-plus"></i>
              Sign up
            </li>
          </a>

          <a ui-sref="admin.dashboard" class="col-sm-12" data-ng-show="user.roles[0] === 'admin'">
            <li>
              <i class="fa fa-star"></i>
              Admin Panel
            </li>
          </a>

        </ul>

      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-12">
        <p>Mapping Salt Lake City is a community-created archive of Salt Lake City’s
          neighborhoods and people that documents the city’s changes through art, critical and creative
          literature, personal maps and multi-media projects.</p>

        <p>We invite people to engage with and evolve this site by submitting their own contributions.</p>
      </div>
    </div>
    <ul>
      <div class="row social-media-button">
        <a href="https://twitter.com/mappingslc" target="_blank" class="col-md-5 col-xs-11">
          <li>
            <i class="fa fa-twitter-square"></i>
            Twitter
          </li>
        </a>
        <a href="https://www.facebook.com/MappingSaltLakeCity" target="_blank"
           class="col-md-5 col-md-offset-1 col-xs-11">
          <li>
            <i class="fa fa-facebook-square"></i>
            Facebook
          </li>
        </a>
      </div>
    </ul>
  </div>
</section>
