.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 75%;
    height: 50%;
    min-height: 150px;
}
