.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.drop-box {
    background: rgba(0, 0, 0, 0.2);
    border: 5px dashed #ffffff;
    width: 115%;
    height: 50%;
    min-height: 150px;
    padding-top: 15%;
}

.file-upload .btn {
    margin: 2% 0 8% 0;
    /*padding: 2%;*/
    /*border-radius: 15px;*/
    border: solid 3px #0b8043;
}


.drag-drop-alert {
    font-size: 1.5rem;
    color: red;
    width: 125%;
    left: 5px;
    position: relative;
}
