<!--<md-button data-ng-show="toggleEdit" data-ng-click="toggleEditFn(0)" class="md-raised btn-warning">Cancel</md-button>-->
<!--<md-button data-ng-show="toggleEdit" type="submit" data-ng-click="toggleEditFn(0)" class="md-raised">Save</md-button>-->

<!--<div data-ng-click="toggleEdit = !toggleEdit"><i class="fa fa-pencil"></i></div>-->


<md-content data-ng-show="toggleEdit" layout="column">

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>Address 1</label>
    <input type="text" data-ng-model="project.street1"/>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>Address 2</label>
    <input type="text" data-ng-model="project.street2"/>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>City</label>
    <input type="text" id="city" data-ng-model="project.city"/>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>State</label>
    <input type="text" id="state" data-ng-model="project.state"/>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>Zip</label>
    <input type="text" id="zip" data-ng-model="project.zip"/>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>Project Title</label>
    <input type="text" id="title" data-ng-model="project.title"/>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>Keywords</label>
    <input type="text" id="keywords" data-ng-model="project.keywords"/>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>Story Summary</label>
    <input type="text" id="storySummary" data-ng-model="project.storySummary"/>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>Latitude</label>
    <input type="number" id="lat" data-ng-model="project.lat"/>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>Longitude</label>
    <input type="number" id="lng" data-ng-model="project.lng"/>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>Vimeo ID</label>
    <input type="text" id="vimeoId" data-ng-model="project.vimeoId"/>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm="" layout="">
    <label>Sound Cloud ID</label>
    <input type="text" id="soundCloudId" data-ng-model="project.soundCloudId"/>
  </md-input-container>

</md-content>


<md-content data-ng-show="!toggleEdit" layout="column">

  <div layout="">
    <div flex="20">Street</div>
    <div flex="80" data-ng-bind="project.street"></div>
  </div>

  <div layout="">
    <div flex="20">City</div>
    <div flex="80" data-ng-bind="project.city"></div>
  </div>

  <div layout="">
    <div flex="20">State</div>
    <div flex="80" data-ng-bind="project.state"></div>
  </div>

  <div layout="">
    <div flex="20">Project Title</div>
    <div flex="80" data-ng-bind="project.title"></div>
  </div>

  <div layout="">
    <div flex="20">Zip</div>
    <div flex="80" data-ng-bind="project.zip"></div>
  </div>

  <div layout="">
    <div flex="20">Keywords</div>
    <div flex="80" data-ng-bind="project.keywords"></div>
  </div>

  <div layout="">
    <div>Story Summary</div>
    <div flex="80" data-ng-bind="project.storySummary"></div>
  </div>

  <div layout="">
    <div flex="20">Latitude</div>
    <div flex="80" data-ng-bind="project.lat"></div>
  </div>

  <div layout="">
    <div flex="20">Longitude</div>
    <div flex="80" data-ng-bind="project.lng"></div>
  </div>

  <div layout="">
    <div flex="20">Vimeo ID</div>
    <div flex="80" data-ng-bind="project.vimeoId"></div>
  </div>

  <div layout="">
    <div flex="20">Sound Cloud ID</div>
    <div flex="80" data-ng-bind="project.soundCloudId"></div>
  </div>

</md-content>
