<section class="project-images">
  <!--todo -- find better way to display main/default image and to remove one or more images-->

  <div class="row">

    <div data-ng-if="project.imageGallery.length > 0">

      <div class="row">
      <div class="col-md-4">
        <h3>Image Gallery</h3>
      </div>

        <div class="col-offset-md-5 col-md-3">
          <md-button aria-label="edit images" data-ng-click="editImages = !editImages">
            <i class="fa fa-cog"></i>
          </md-button>
        </div>
      </div>


      <div class="row">
        <div class="col-md-3 project-image-gallery" data-ng-repeat="image in project.imageGallery track by $index">
          <a data-ng-href="{{image.imageUrl}}" target="_blank">
            <img data-ng-src="{{image.thumbImageUrl}}" class="img-responsive">
          </a>

          <div data-ng-show="editImages">
            <md-button class="md-raised" data-ng-click="deleteImageById(image, $index)">Remove</md-button>
            <md-button class="md-raised" data-ng-hide="image.isDefaultImage" data-ng-click="setDefaultImage(null, $index)">Default</md-button>
          </div>

        </div>
      </div>
    </div>

    <div data-ng-if="project.imageGallery.length === 0">
      <h4>No images found for this project.</h4>
    </div>

    <project-images-admin-upload></project-images-admin-upload>


  </div>
</section>
