<div>
  <div class="row">
    <div class="col-md-12">


      <!--display wysiwyg editor-->
      <div class="text-editor-window" data-ng-show="toggleEdit && toggleId===14">

        <wysiwyg-editor></wysiwyg-editor>

        <div class="row">
          <div class="col-xs-12">
            <!--todo add popup to confirm exit if project.story has been edited-->
            <md-button data-ng-click="toggleEditFn(0)" class="md-raised">Cancel</md-button>
            <md-button class="md-raised" data-ng-click="toggleEdit=false">Preview</md-button>
            <md-button class="md-raised" type="submit" data-ng-click="submit(14)">Save</md-button>
            <!--<md-button class="md-fab" ng-disabled="false" aria-label="Comment">-->
              <!--<md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>-->
            <!--</md-button>-->
          </div>
        </div>
      </div>


      <!--display preview of project-->
      <div data-ng-show="!toggleEdit">
        <h1 froala-view="project.title"></h1>
        <div class="row">
          <div class="col-xs-12">
            <md-button data-ng-click="toggleEditFn(14, 'edit')" class="md-raised">Edit</md-button>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-xs-12">

            <div froala-view="project.story"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
