<div>
  <div class="row">
    <div class="col-md-12">


      <!--display wysiwyg editor-->
      <div class="text-editor-window" data-ng-show="toggleEdit && toggleId===14">

        <wysiwyg-editor></wysiwyg-editor>

        <div class="row">
          <div class="col-xs-12">

            <!--todo add popup to confirm exit if project.story has been edited-->
            <md-button data-ng-click="toggleEditFn(0)" class="md-raised">Cancel</md-button>
            <md-button class="md-raised" div data-ng-click="toggleEdit=false">Preview</md-button>
            <md-button class="md-raised" type="submit" data-ng-click="submit(14)">Save</md-button>
            <md-button class="md-raised" ng-disabled="true">Save Draft</md-button>
            <md-button class="md-raised" ng-disabled="true">Publish</md-button>
            <md-button class="md-raised" data-ng-click="getProjectImages()">Get Images Test</md-button>


            <!--<md-button class="md-fab" ng-disabled="false" aria-label="Comment">-->
              <!--<md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>-->
            <!--</md-button>-->

            <!--<md-button class="md-fab md-primary md-hue-2" aria-label="Profile">-->
              <!--<md-icon md-svg-src="img/icons/ic_people_24px.svg"></md-icon>-->
            <!--</md-button>-->

            <!--<md-button ui-sref="admin.dashboard"-->
                       <!--title="Go to Dashboard"-->
                       <!--ng-disabled="false"-->
                       <!--class="md-icon-button launch" >-->
              <!--<md-icon md-svg-icon="img/icons/launch.svg"></md-icon>-->
            <!--</md-button>-->


          </div>
        </div>

      </div>


      <!--display preview of project-->
      <div data-ng-show="!toggleEdit && project.story">

          <wysiwyg-content-preview></wysiwyg-content-preview>

      </div>

    </div>
  </div>
</div>
