<section class="row" ng-controller="ProjectsController">
  <div class="file-upload">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-8">

      <div class="row">
        <md-button class="md-raised" data-ng-model="files" ngf-select
                   ngf-multiple="true" ngf-fix-orientation="true"
                   accept=".jpeg,.jpg,.png,image/*" ngf-max-size="3MB"
                   ngf-keep="'distinct'"
                   ngf-model-invalid="errorFile"
                   data-ng-show="!uploading"
                   data-ng-change="adminFileReaderNg(files)">
          {{uploadBtnText}} 1
        </md-button>

      <md-button class="md-raised" data-ng-click="files = null" data-ng-show="files.length > 0 && !uploading">
        Remove All
      </md-button>

      <md-button class="md-raised" data-ng-click="uploadAdminImagesV2('projects', files)" data-ng-show="files.length > 0 && !uploading">
        Upload
      </md-button>

        <!--abort upload-->
        <md-button data-ng-click="abort();" data-ng-show="uploading" class="md-raised" data-ng-show="uploading">
          Cancel
        </md-button>

    </div>


    <div class="row">
      <div class="col-md-12 preview">
        <div data-ng-repeat="previewFile in previewFiles">
          <div>
            <img ngf-src="previewFile" class="image-preview">
            <span data-ng-click="removePreviewImage(previewFile.$$hashKey)">x</span>
          </div>
          {{previewFile.name}}
        </div>
      </div>
    </div>


      <span class="progress" ng-show="files.progress > 0">
        <div style="width:{{files.progress}}%" ng-bind="files.progress + '%'"></div>
      </span>
      <span ng-show="files.result">
        Upload Successful
      </span>
      <span class="err" ng-show="errorMsg">
        {{errorMsg}}
      </span>

      <div ng-show="success" class="text-center text-success">
        <strong>Images Successfully Uploaded</strong>
      </div>

      <div ng-show="errorFile" class="text-center text-danger">
        <strong ng-bind="errorFile"></strong>
        <strong ng-bind="error"></strong>
      </div>


    </div>

  </div>
  </div>
</section>
