<uib-tabset justified="true">


    <uib-tab heading="Main Content">
        <project-main-tab></project-main-tab>
    </uib-tab>


    <uib-tab heading="Admin">
        <project-admin-features></project-admin-features>
    </uib-tab>


    <uib-tab heading="Multimedia">
        <project-multimedia></project-multimedia>
    </uib-tab>


    <uib-tab heading="Project Editor">
        <project-editor></project-editor>
    </uib-tab>

  <uib-tab heading="Contributor">
    <!--<Contributor></Contributor>-->
  </uib-tab>


</uib-tabset>
