<section class="project-files">
  <div class="row">
    <div>
    <!--<div data-ng-show="project.fileUrls">-->
      <h3>Files</h3>
      <!--<div class="row">-->
        <div class="project-files" data-ng-repeat="file in project.documentGallery track by $index">
          <a data-ng-href="{{file.documentUrl}}" target="_blank">
            <img data-ng-src="/modules/core/client/img/icons/{{file.documentIcon}}.png" class="img-responsive">
            <div>{{file.documentName}}</div>
          </a>
        </div>
      <!--</div>-->

      <!--<div class="btn btn-main btn-footer-overlay grow" data-ng-click="documentUploader(project, files)">Add File</div>-->
<br />

      <!--upload single file-->
      <div class="row">
        <div type="file" class="btn btn-main btn-footer-overlay grow" data-ng-hide="uploading" ngf-select ngf-change="onFileSelect($files)" ng-model="file" name="file" ngf-max-size="10MB">
          Add File
        </div>
      </div>


      <!--<div>-->
        <!--<img ngf-src="file" ngf-resize="{width: 20, height: 20, quality: 0.9}">-->
      <!--</div>-->

      <!--<div ngf-thumbnail="file" ngf-size="{width: 20, height: 20, quality: 0.9}"></div>-->




      <span class="progress" ng-show="file.progress >= 0">
        <div style="width:{{file.progress}}%" ng-bind="file.progress + '%'"></div>
      </span>

      <span ng-show="file.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

      <div ng-show="success" class="text-center text-success">
        <strong>File Uploaded</strong>
      </div>




      <!--abort upload-->
      <div data-ng-click="abort();" data-ng-hide="!uploading" class="btn btn-main btn-footer-overlay grow">Cancel</div>

      <div ngf-no-file-drop data-ng-hide="uploading" class="drag-drop-alert">
        File Drag/Drop is not supported for this browser
      </div>

      <div ng-show="error" class="text-center text-danger">
        <strong ng-bind="error"></strong>
      </div>


    </div>
  </div>
</section>
