<div ng-cloak="">
<!--<div ng-cloak="" class="tabsDynamicHeight">-->

  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">

      <md-tab label="Main Content">
        <md-content class="md-padding">
          <project-main-tab></project-main-tab>
        </md-content>
      </md-tab>

      <md-tab label="Admin">
        <md-content class="md-padding">
          <project-admin-features></project-admin-features>
        </md-content>
      </md-tab>

      <md-tab label="Contributor">
        <md-content class="md-padding">
          <div class="admin-user">
            <user-view-form-wrapper></user-view-form-wrapper>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Project Editor">
        <md-content class="md-padding">
          <project-editor></project-editor>
        </md-content>
      </md-tab>

      <md-tab label="Files">
        <md-content class="md-padding">
          <project-files></project-files>
        </md-content>
      </md-tab>

      <md-tab label="Images">
        <md-content class="md-padding">
          <project-images></project-images>
        </md-content>
      </md-tab>

      <md-tab label="Test">
        <md-content class="md-padding">
          <project-test></project-test>
        </md-content>
      </md-tab>

      <md-tab label="Multimedia">
        <md-content class="md-padding">
          <project-multimedia></project-multimedia>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>

</div>
