<section class="row" ng-controller="ProjectsController">
  <div class="file-upload">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-8">

      <h3>Upload Images</h3>

      <div class="row">
        <md-button class="md-raised" data-ng-model="files" ngf-select
                   ngf-multiple="true" ngf-fix-orientation="true"
                   accept=".jpeg,.jpg,.png,image/*" ngf-max-size="3MB"
                   ngf-keep="'distinct'"
                   ngf-model-invalid="errorFile"
                   data-ng-change="filesChanged(files)"
                   data-ng-show="!uploading">
          {{uploadBtnText}}
        </md-button>

        <md-button class="md-raised" data-ng-click="imageUpload('projects', project._id, files)"
                   data-ng-show="files.length > 0 && !uploading">Upload</md-button>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="thumbnail-list" data-ng-repeat="file in files" data-ng-show="files.length > 0 && !uploading">
            <br/><img ngf-src="file" ngf-resize="{width: 150, height: 150, quality: 0.8}" >
          </div>
        </div>

        <!--<div class="col-md-2">-->
          <!--<div style="color: #000000; font-size: 2rem">-->
            <!--# files: {{files.length}}-->
            <!--<br/>-->
            <!--uploading? {{uploading}}-->
          <!--</div>-->
          <!--<div class="col-md-2">-->
            <!--<md-button class="md-raised" data-ng-click="uploading = !uploading">Toggle Upload</md-button>-->
          <!--</div>-->
        <!--</div>-->


      </div>


    </div>

  </div>
</section>
