<section class="project-files">
  <div class="row">
    <div data-ng-show="project.fileUrls">
      <h5>Files</h5>
      <div class="row">
        <div class="col-md-3 project-files" data-ng-repeat="file in files track by $index">
          <a data-ng-href="{{file}}">
            <!--<img data-ng-src="{{}}">-->
            <img src="/modules/core/client/img/icons_pdf.png" class="img-responsive">
          </a>
          <button class="btn btn-main btn-footer-overlay grow" data-ng-click="">Download</button>
        </div>
      </div>

      <button class="btn btn-main btn-footer-overlay grow" data-ng-click="">Add File</button>
    </div>
  </div>
</section>


<section class="project-images">
  <div class="row project-main-image">
    <div data-ng-show="project.mainImageUrl && project.mainImageThumbnailUrl">
      <h4>Main Image</h4>
      <div class="project-image">
        <a data-ng-href="{{project.mainImageUrl}}" target="_blank">
          <img data-ng-src="{{project.mainImageThumbnailUrl}}" class="img-responsive">
        </a>
      </div>
      <button class="btn btn-main btn-footer-overlay grow" data-ng-click="">Download</button>
      <button class="btn btn-main btn-footer-overlay grow" data-ng-click="">Upload</button>
    </div>
  </div>

  <div class="row">
    <div data-ng-show="project.imageGallery.length > 1 && project.imageGalleryThumbnailUrls.length > 1">
      <h5>Image Gallery</h5>

      <div class="row">
        <div class="col-md-3 project-image-gallery" data-ng-repeat="image in images track by $index">
          <a data-ng-href="{{image}}" target="_blank">
            <img data-ng-src="{{project.mainImageThumbnailUrl}}" class="img-responsive">
          </a>
          <button class="btn btn-main btn-footer-overlay grow" data-ng-click="">Remove</button>
        </div>
      </div>

      <button class="btn btn-main btn-footer-overlay grow" data-ng-click="">Add Image</button>
    </div>
  </div>
</section>
