<md-button data-ng-show="toggleEdit" data-ng-click="toggleEditFn(0)" class="md-raised btn-warning">Cancel</md-button>

<md-button data-ng-show="toggleEdit" type="submit" data-ng-click="toggleEditFn(0)" class="md-raised">Save</md-button>

<div data-ng-show="!toggleEdit" data-ng-click="toggleEdit = !toggleEdit"><i class="fa fa-pencil"></i></div>


<div class="row" data-ng-show="toggleEdit">
  <div class="col-md-12">
    <md-input-container>
      <label>Project Status</label>
      <md-select id="status" data-ng-model="project.status" data-ng-change="projectStatusChanged()">
        <md-optgroup label="Project Status">
          <md-option ng-value="statusSort.value" ng-repeat="statusSort in statusSorts">
            {{statusSort.name}}
          </md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
  </div>
</div>
<div class="row" data-ng-show="!toggleEdit">
  <div class="col-xs-4">Project Status</div>
  <div class="col-xs-8" data-ng-bind="project.status"></div>
</div>


<!--<md-button data-ng-show="toggleEdit" data-ng-click="updateFeatured()" class="md-raised">Update Featured</md-button >-->
<div class="row" data-ng-show="toggleEdit">
  <div class="col-md-12">
    <md-input-container>
      <label>Featured Project</label>
        <md-switch ng-model="project.featured" aria-label="Featured Project" ng-true-value="'Featured'" ng-false-value="'Not Featured'" data-ng-change="updateFeatured()">
          {{ project.featured }}
      </md-switch>
    </md-input-container>
  </div>
</div>

<!--<div class="row" data-ng-show="toggleEdit">-->
  <!--<div class="col-md-12">-->
    <!--<md-input-container>-->
      <!--<label>Featured Project</label>-->

      <!--<md-select id="featured" data-ng-model="project.featured">-->
        <!--<md-optgroup label="Featured Project">-->
          <!--<md-option ng-value="featuredProject.value" ng-repeat="featuredProject in featuredProjects">-->
            <!--{{featuredProject.name}}-->
          <!--</md-option>-->
        <!--</md-optgroup>-->
      <!--</md-select>-->
    <!--</md-input-container>-->
    <!--<a href="#" tooltip-placement="top" uib-tooltip="If you're unsure, select what you feel is closest.">-->
      <!--<i class="fa fa-question-circle"></i>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
<div class="row" data-ng-show="!toggleEdit">
  <div class="col-xs-4">Featured Project</div>
  <div class="col-xs-8" data-ng-bind="project.featured"></div>
</div>


<div class="row" data-ng-show="toggleEdit">
  <div class="col-md-12">
    <md-input-container>
      <label>Project Category</label>
      <md-select id="category" data-ng-model="project.category">
        <md-optgroup label="Project Category">
          <md-option ng-value="categorySort.value" ng-repeat="categorySort in adminCategorySorts">
            {{categorySort.name}}
          </md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
  </div>
</div>
<div class="row" data-ng-show="!toggleEdit">
  <div class="col-xs-4">Project Category</div>
  <div class="col-xs-8" data-ng-bind="project.category"></div>
</div>
