<div data-ng-show="toggleEdit" layout="column">

  <md-input-container flex="" layout="" layout-align="">
    <label>Project Status</label>

    <md-select id="status" data-ng-model="project.status" data-ng-change="projectStatusChanged()">
      <md-optgroup label="Project Status">
        <md-option ng-value="statusSort.status.value" ng-repeat="statusSort in statusSorts">
          {{statusSort.status.name}}
        </md-option>
      </md-optgroup>
    </md-select>

  </md-input-container>

  <md-input-container flex="" layout="" layout-align="">
    <label>Project Category</label>
    <md-select id="category" data-ng-model="project.category">
      <md-optgroup label="Project Category">
        <md-option ng-value="categorySort.category.value" ng-repeat="categorySort in adminCategorySorts">
          {{categorySort.category.name}}
        </md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <md-input-container flex="" layout="" layout-align="">
    <label>Featured Project</label>
    <md-switch ng-model="project.featured" aria-label="Featured Project" ng-true-value="'featuredProject.featuredProject.value'" ng-false-value="'featuredProject.featuredProject.value'" data-ng-change="updateFeatured()">
    </md-switch>
  </md-input-container>

</div>


<div layout="column" data-ng-show="!toggleEdit">
  <div layout="" layout-align="">
    <div flex="">Project Status</div>
    <div flex="">{{statusFiltered}}</div>
  </div>

  <div layout="" layout-align="">
    <div flex="">Project Category</div>
    <div flex="" data-ng-bind="project.category"></div>
  </div>

  <div layout="" layout-align="">
    <div flex="">Featured Project</div>
    <div flex="" data-ng-bind="project.featured"></div>
  </div>
</div>

<hr/>
<div layout="column" layout-align="" >
  <h4>Current Featured Projects</h4>
  <div data-ng-repeat="featuredProject in featuredProjects track by $index">
    {{$index +1}}: {{featuredProject.title}}
  </div>
</div>
