<div class="page-header">
  <h1>
    <span class="col-xs-1" data-ng-click="toggleEditAllFn()"><i class="fa fa-pencil"></i></span>
    {{userToEdit.firstName}} {{userToEdit.lastName}}'s Profile


    <a ui-sref="admin.adminViewUser({userId: user._id})" data-ng-show="userToEdit.profileImageURL">
      <span><img data-ng-src="{{userToEdit.profileImageURL}}" class="header-profile-image pull-right"/></span>
    </a>

    <a href="#" data-ng-show="!userToEdit.profileImageURL">
      <span><img src="../../modules/users/client/img/profile/default.png" class="header-profile-image pull-right"/></span>Upload a Pic
    </a>
  </h1>
</div>


<div class="row user-profile">
  <div class="col-xs-12">
    <form name="userAdminForm" class="form-horizontal" data-ng-submit="update(userToEdit.$valid)" novalidate>
      <fieldset>

        <user-view-form></user-view-form>

      </fieldset>
    </form>
  </div>
</div>

<hr>

<div class="pull-right">
  <a class="btn btn-main grow btn-warning" data-ng-click="remove()">
    <i class="glyphicon glyphicon-trash"></i>
  </a>
</div>
