<div id="main-menu" class="main-menu">
  <main-menu></main-menu>
</div>
<section flex layout="row" ng-controller="PasswordController">

  <!--<img src="../../../../core/client/img/brand/mapping.png"-->
       <!--class="small-main-logo logo-on-page logo-second-page img-responsive" ui-sref="home"/>-->
  <div class="main-logo" ui-sref="home"></div>

    <div flex-sm="100" flex-gt-sm="100" flex-gt-md="100" flex-gt-lg="100">
      <md-content class="layout-padding">


        <h3>Restore your password</h3>
        <p>Enter the email associated with your account.</p>

        <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)"
              class="form-horizontal"
              novalidate autocomplete="off">

            <!--Row #2-->
            <div layout-gt-xs="row">
              <md-input-container flex="60">
                <label>Email</label>
                <input type="email" data-ng-model="email" name="email" ng-pattern="/^.+@.+\..+$/" required="">
              </md-input-container>
            </div>

            <div ng-messages="forgotPasswordForm.username.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Enter a username.</p>
            </div>

          <div class="form-group">
            <md-button type="submit" class="md-raised">Submit</md-button>
          </div>

          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
          <div ng-show="success" class="text-success">
            <strong ng-bind="success"></strong>
          </div>
        </form>
      </md-content>
    </div>

</section>
