.dropdown {
    /*border-radius: 0;*/
    top: -16px;
    left: 14px;
    /*position: relative;*/

}

#status {
    border-radius: 0;
    width: 350px;
    height: 40px;
    /*top: -16px;*/
    /*left: 14px;*/
    position: relative;
    cursor: pointer;
    background: none;
    /*border-image-source: none;*/
    border-image-width: 0;
    /*border-image-repeat: stretch;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 7px solid #023a31;
}

.col-md-6 > label {
    color: #6E7C8C;
    position: relative;
    top: 17px;
    left: 15px;
}
