.modal-dialog {
    margin-top: 15%;
}

.modal-lg {
    width: 60%;
}

.modal-content {
    border-radius: 0;
    color: #ffffff;
    background-color: rgba(2, 58, 49, 0.9);
    border: solid rgba(255, 255, 255, 0.7) 2px;
    -webkit-box-shadow: -7px 10px 15px rgba(0, 0, 0, .6);
    -moz-box-shadow: -7px 10px 15px rgba(0, 0, 0, .6);
    box-shadow: -7px 10px 15px rgba(0, 0, 0, .6);
}

/*.modal-body {*/
/*background-color: rgba(2, 58, 49, 0.8);*/
/*}*/

.modal-footer .grow:hover {
    border-color: #03725e;
    background: rgba(0, 45, 0, 0.8);
}

.modal-footer .btn-warning:hover {
    background: rgba(45, 0, 0, 0.8);
    border-color: #ff0000;
}

.text-center.form-group {
    width: 205%;
    margin-left: -55%;
}

.modal-content input[type=text], .modal-content input[type=password] {
    width: 200%;
    height: 4rem;
    margin-left: -45%;
    font-size: 2.75rem;
}

.model-content label {
    margin-left: -45%;
    font-size: 2rem;
}

.modal-header, .modal-footer {
    border: none;
}
