<section class="project-uploader">
  <div class="row">
    <div class="col-md-12">


      <legend>Upload on form submit</legend>

      <!--upload multiple files-->

      <div class="row">

        <md-button class="md-raised" data-ng-model="project.files" ngf-select
             ngf-multiple="true" ngf-fix-orientation="true"
             accept=".jpeg,.jpg,.png,.pdf,.doc,.docx,.rtf,.txt,image/*" ngf-max-size="2MB"
             ngf-keep="'distinct'"
             ngf-model-invalid="errorFile"
             data-ng-show="!uploading">{{uploadBtnText}}</md-button>

        <md-button class="md-raised" data-ng-click="project.files = null" data-ng-show="project.files">Remove All</md-button>
      </div>


      <div class="thumbnail-list" data-ng-repeat="file in project.files" data-ng-show="project.files.length > 0 && !uploading">
        <img ngf-src="file" ngf-resize="{width: 150, height: 150, quality: 0.8}" >
      </div>



      <!--errors: #1-->
      <span data-ng-show="project.files.result">Upload Successful</span>
      <!--errors: #2-->
      <span class="err" data-ng-show="errorMsg">{{errorMsg}}</span>
      <!--errors: #3-->
      <md-button class="md-raised" data-ng-click="abort();" data-ng-hide="!uploading">Cancel</md-button>

      <div>
        <i ng-show="project.file.$error.required">*required</i><br>
        <i ng-show="project.file.$error.maxSize">File too large
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      </div>

    </div>
  </div>




    <div>
      <img ngf-src="file" ngf-resize="{width: 20, height: 20, quality: 0.9}">
    </div>

    <div ngf-thumbnail="file" ngf-size="{width: 20, height: 20, quality: 0.9}"></div>


    <span class="progress" ng-show="picFile.progress >= 0">
<div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
</span>

    <span ng-show="picFile.result">Upload Successful</span>
    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

    <div ng-show="success" class="text-center text-success">
      <strong>Profile Picture Changed Successfully</strong>
    </div>


    <!--abort upload-->
    <button data-ng-click="abort();" data-ng-hide="!uploading" class="btn btn-main btn-footer-overlay grow">Cancel
    </button>


    <div ngf-no-file-drop data-ng-hide="uploading" class="drag-drop-alert">
      File Drag/Drop is not supported for this browser
    </div>


    <div ng-show="error" class="text-center text-danger">
      <strong ng-bind="error"></strong>
    </div>


  </div>

</section>


<!--



     <!--Remove Files Buttons-->
<!--<md-button class="md-raised" data-ng-click="project.files.pop();" data-ng-show="project.files">Remove Last File</md-button>-->
<!--<md-button class="md-raised" data-ng-click="project.files.indexOf();" data-ng-show="project.files">Remove Last File</md-button>-->


<!--progress bar-->
<!--<span class="progress" data-ng-show="project.files.progress > 0">-->
<!--<div style="width:{{project.files.progress}}%" ng-bind="project.files.progress + '%'"></div>-->
<!--</span>-->


<!--


    Thanks, MaximShoustin! I built off of your directive but tried to compartmentalize (i.e., avoid searching the entire document for the input element).

.directive('chooseFileButton', function() {
    return {
        restrict: 'E',
        link: function (scope, elem, attrs) {
            var button = elem.find('button');
            var input = elem.find('input');
            input.css({ display:'none' });
            button.bind('click', function() {
                input[0].click();
            });
        }
    };
});
Then you can use the directive this way (the requirement is to include a button and a file input inside the element).

<choose-file-button>
    <md-button aria-label="Upload a file" class="md-fab">
        <md-icon class="fa" md-font-icon="fa-cloud-upload"></md-icon>
    </md-button>
    <input type="file">
</choose-file-button>

-->


<!--


  My current solution to this is just allowing the template for md-button be a <label> if you specify the button is of type="file", using an angular decorator. I've tested it in recent versions of Firefox and Chrome.

$provide.decorator('mdButtonDirective', ['$delegate',
function ($delegate) {
  var getTemplate = $delegate[0].template;
  $delegate[0].template = function ($element, $attrs) {
    if ($attrs.type === 'file') {
      return '<label class="md-button" ng-transclude></label>';
    } else {
      return getTemplate($element, $attrs);
    }
  };
  return $delegate;
}
]);
And the markup is as simple as

<md-button type="file">
  Select a file
  <input type="file" nv-file-select uploader="$ctrl.uploader">
</md-button>
Lastly, you'll need css to hide the <input> element, I just use

.md-button[type="file"] > input[type="file"] {
display: none;
}

-->


<!--https://github.com/angular/material/issues/2151-->


<!--


color
rgb(0, 0, 0)
cursor
auto
display
block
font-family
NeutrafaceTextNormal, 'Neutraface Text', 'Segoe UI', Avenir, Helvetica-Light, Arial, sans-serif
font-size
16px
font-style
normal
font-variant
normal
font-weight
normal
height
32px
letter-spacing
normal
line-height
32px
text-align
start
text-indent
0px
text-shadow
none
text-transform
none
width
163.438px
word-spacing
0px
-webkit-font-smoothing
antialiased
-webkit-user-select
text


-->
