<section data-ng-controller="ProjectsController" class="main-content-inner" data-ng-init="initSubmissionStatus()">

  <div class="view-project">

    <div class="page-header">
      <h1 data-ng-show="project.status[0]==='received'">Thank You for Your Submission</h1>
      <h3 data-ng-show="project.status[0]==='pending'">Hi {{project.user.firstName}}, we're reading your submission and
        will be in touch soon.</h3>
      <h3 data-ng-show="project.status[0]==='accepted'">{{project.title}}</h3>
      <h3 data-ng-show="project.status[0]==='published'">{{project.title}} has been published.</h3>
      <h3 data-ng-show="project.status[0]==='pulled'">Our records indicate... </h3>
    </div>

    <section class="overview">

      <div data-ng-show="project.status[0]==='received'">
        <p>We have received your submission, and will begin reviewing it shortly.</p>
        <p>You are welcome to edit your submission for a short period, until we begin reviewing it. After we have
          begun our review, you may still edit your contact information on this page.</p>
        <p>If your piece is accepted for publication, you will have a chance to layout and format your project and
          are welcome to suggest edits at this stage as well.</p>
        <p>You can access this page at a later date by logging in and going to your <a ui-sref="settings.profile">Account
          page</a> and clicking on the Submitted
          Projects tab.</p>
      </div>
      <p data-ng-show="project.status[0]==='pending'">We have begun reading your submission. So, currently, you
        are not able to edit your submission. You can still edit your contact information.</p>

      <div data-ng-show="project.status[0]==='accepted'">
        <p>{{project.title}} has been accepted for publication. We thank you again for your submission and feel
          fortunate to be able to publish it.</p>
        <p>Please make sure the information below is correct. Additionally, we ask that you submit a bio and an author
          photo.</p>
      </div>

    </section>

    <br/>
    <br/>
    <br/>

    <section class="submission-info">

      <uib-tabset justified="true">


        <uib-tab heading="Project Information">
          <project-status-project-info></project-status-project-info>
        </uib-tab>

        <uib-tab heading="Contact Information">
          <project-status-user-info></project-status-user-info>
        </uib-tab>

        <uib-tab heading="Bio" data-ng-show="project.status[0]==='accepted'">
          <project-status-user-bio></project-status-user-bio>
        </uib-tab>

        <uib-tab heading="Author Photo" data-ng-show="project.status[0]==='accepted'">
          <change-profile-picture></change-profile-picture>
        </uib-tab>

      </uib-tabset>

    </section>

    <div class="pull-right" data-ng-show="project.status[0] ==='received'">
      <a class="btn btn-main grow" href="/projects/{{project._id}}/edit">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
    </div>


  </div>

</section>
