<div>

  <p class="status">Submission Status:<br/>{{project.status[0]}}</p>

  <p class="title">Title:<br/>{{project.title}}</p>
  <p>Street:<br/>{{project.street}}</p>
  <p data-ng-show="project.street2">Street 2:<br/>{{project.street2}}</p>
  <p>City:<br/>{{project.city}}</p>
  <p>Zip Code:<br/>{{project.zip}}</p>
  <p data-ng-show="project.keywords.length > 0">Keywords:<br/>{{project.keywords}}</p>
  <div>
    <img ng-src="{{project.mapImage}}" class="img-responsive">
  </div>

</div>


<!-- editor hidden -->

<section data-ng-show="project.status[0]==='received' || project.status[0]==='pending'">

  <div data-ng-show="project.story">

  </div>
  <div data-ng-show="project.vimeoId">

  </div>
  <div data-ng-show="project.soundCloudId">

  </div>
  <div data-ng-show="project.imageGallery">

  </div>


</section>


<section data-ng-show="project.status[0]==='accepted'">

  <div class="row" data-ng-hide="toggleEdit === true  && toggleId === 14">
    <div class="col-xs-2">Project Editor</div>

    <div class="col-xs-9" data-ng-bind-html="trustAsHtml(project.story)"></div>

    <div class="col-xs-1" data-ng-click="toggleEditFn(14)"><i class="fa fa-pencil"></i></div>
  </div>


  <!-- editor displayed -->

  <div data-ng-show="toggleEdit === true  && toggleId ===14">
    <div class="row">
      <div class="col-md-12">
        <div class="controls width">
          <textarea ckeditor="editorOptions" ng-model="story" id="story" required></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">

          <span class="pull-right">
              <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
          </span>
          <span class="pull-right">
              <button type="submit" data-ng-click="update()" class="btn btn-main grow">Save</button>
          </span>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">


      <div class="videoWrapper" data-ng-show="project.vimeoId && project.status[0]==='accepted'">
        <iframe data-ng-show="!videoSizeSelect()" width="{{vimeo.width}}" height="{{vimeo.height}}"
                data-ng-src="{{vimeo.video}}" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen>
        </iframe>
      </div>


      <div class="videoWrapper" data-ng-show="project.soundCloudId && project.status[0]==='accepted'">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" data-ng-src="{{soundCloud.audio}}">
        </iframe>
      </div>


      <div data-ng-show="project.imageGallery || images && project.status[0]==='accepted'">
        <div class="row">
          <ul id="grid-view">
            <a ng-click="openLightboxModal($index)" data-ng-repeat="image in images" class="col-md-3">
              <li>
                <img ng-src="{{image}}" class="img-thumbnail">
              </li>
            </a>
          </ul>
        </div>


        <div data-ng-show="project.story !== '' && project.status[0]==='accepted'">
          <p data-ng-bind-html="trustAsHtml(project.story)"></p>
        </div>

      </div>
    </div>
  </div>

</section>
