<section class="view-project">

  <div class="project-nav">
    <a class="btn btn-main grow" ui-sref="listProjects">
      All Projects
    </a>
  </div>

  <div class="page-header">
    <div class="row">
      <div class="col-lg-10">
        <h1 data-ng-bind="project.title"></h1>
      </div>
      <div class="col-lg-2 pull-left">
        <i class="fa fa-heart" ng-click="toggleFavProjectFn()"
           data-ng-class="{'favorite-true' : isFavorite, 'favorite-false' : !isFavorite}"></i>
      </div>

    </div>

    <h3>
      <md-button ui-sref="contributor({userId: project.user._id})"><span>{{project.user.firstName}} {{project.user.lastName}}</span></md-button>
    </h3>

    <em class="text-muted">
      published <span data-ng-bind="project.createdOn | date:'mediumDate'"></span>
    </em>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="videoWrapper" data-ng-if="project.vimeoId">
        <iframe data-ng-show="!videoSizeSelect()" width="{{vimeo.width}}" height="{{vimeo.height}}"
                data-ng-src="{{vimeo.video}}" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen>
        </iframe>
      </div>

      <div class="videoWrapper" data-ng-if="project.soundCloudId">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" data-ng-src="{{soundCloud.audio}}">
        </iframe>
      </div>


      <div class="row" data-ng-show="project.mainImage">
        <ul id="grid-view-default-image">
          <div ng-click="openLightboxModal($index)" class="col-md-3">
            <img ng-src="{{project.mainImage.thumbImageUrl}}" class="img-responsive">
          </div>
        </ul>
      </div>

      <md-content flex="" layout-padding="" data-ng-show="project.story !== ''">
        <p data-ng-bind-html="trustAsHtml(project.story)"></p>
      </md-content>

      <div>
        <img ng-src="{{project.mapImage}}" class="img-responsive">
      </div>


      <div class="row" data-ng-show="project.imageGallery">
        <ul id="grid-view">
          <a ng-click="openLightboxModal($index)" data-ng-repeat="image in project.imageGallery" class="col-md-3">
            <img ng-src="{{image.thumbImageUrl}}" class="img-thumbnail">
            <!--<p>{{image.imageName}}</p>-->
          </a>
        </ul>
      </div>


      <!--<h3>Related Stories</h3>-->
      <!--<p>coming soon</p>-->

      <h3>Comments</h3>

      <!--facebook comments plugin - see the SDK code in `modules/core/server/views/layout.server.view.html` -->
      <div class="fb-comments" data-href="http://localhost:3000" data-width="700px" data-numposts="5"></div>
      <!--<div class="fb-comments" data-href="http://www.mappingslc.org" data-width="700px" data-numposts="5"></div>-->

    </div>
  </div>
</section>

<!--</section>-->
