<div id="main-menu" class="main-menu"><main-menu></main-menu></div>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

  <section class="container">
    <a href="/"><img src="../../../../modules/core/client/img/brand/mapping.png" class="small-main-logo logo-on-page logo-second-page img-responsive"/></a>

    <div class="main-content-outer">

      <section data-ng-controller="EditProfileController" class="main-content-inner">

        <div class="admin">

          <div class="admin-user">

            <div class="admin-nav">
              <a class="btn btn-main grow" ui-sref="admin.dashboard">
                Admin Home Page
              </a>
              <a class="btn btn-main grow" ui-sref="admin.adminListUsers">
                Admin User Page
              </a>
            </div>

            <user-view-form-wrapper></user-view-form-wrapper>

          </div>
        </div>
      </section>
    </div>
  </section>
</section>
