<section class="row" ng-controller="ChangeProfilePictureController" data-ng-init="init();">
  <div class="file-upload">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-8">

      <!--display current image-->
      <img data-ng-src="{{user.profileImageURL}}" class="img-thumbnail user-profile-picture"/>

      <div>
        <md-button class="md-raised" data-ng-model="files" ngf-select
                   ngf-multiple="true"  ngf-fix-orientation="true"
                   accept=".jpeg,.jpg,.png,image/*" ngf-max-size=1MB"
                   ngf-model-invalid="errorFile"
                   data-ng-show="!uploading"
                   data-ng-change="profileImageFileReader(files)">
          {{uploadBtnText}}
        </md-button>

        <md-button class="md-raised" data-ng-click="uploadUserProfileImage('users', files)" data-ng-show="!uploading && files.length > 0">Upload</md-button>

        <!--abort upload-->
        <md-button data-ng-click="abort();" data-ng-show="uploading" class="md-raised">Cancel</md-button>
      </div>

      <div><img ngf-src="files" ngf-resize="{width: 20, height: 20, quality: 0.9}"></div>
      <div ngf-thumbnail="files" ngf-size="{width: 20, height: 20, quality: 0.9}"></div>


      <span class="progress" ng-show="files.progress >= 0">
        <div style="width:{{files.progress}}%" ng-bind="files.progress + '%'"></div>
      </span>

      <span ng-show="files.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

      <div ng-show="success" class="text-center text-success">
        <strong>Profile Picture Updated</strong>
      </div>

      <div ng-show="error" class="text-center text-danger">
        <strong ng-bind="error"></strong>
      </div>

    </div>
  </div>
</section>
