<section data-ng-controller="UserController" class="row" style="height: 600px;" data-ng-init="getFavorites()">

  <div class="user-favorites">

    <div class="list-group">


      <div data-ng-repeat="userFavorite in userFavorites" class="admin-list row" data-ng-show="!isFavorite">

        <a ui-sref="viewProject({projectId: userFavorite.id})" class="admin-list col-md-11">
          <div class="row">
            <div class="col-md-4">
              <img data-ng-src="{{userFavorite.mainImgThumbnail}}"/>
            </div>

            <div class="col-md-8">
              <div>
                <p data-ng-bind="userFavorite.title"></p>
                <small>
                  <span>{{userFavorite.user.firstName}} {{userFavorite.user.lastName}}</span>
                </small>
                <!--<span><i class="fa fa-times pull-right" data-ng-click="removeFavProject(userFavorite.id)"></i></span>-->
              </div>
            </div>
          </div>
        </a>

        <div class="col-md-1">
          <i class="fa fa-times pull-right" data-ng-click="removeFavProject(userFavorite.id)"
             uib-tooltip="Remove from favorites"></i>
        </div>

      </div>


    </div>
  </div>


  <!--<div>-->
    <!--<div ng-show="!userFavorites">-->
      <!--<p>You haven't favorited any projects yet. Want to check out some favorites from the Mapping SLC team and from-->
        <!--other folks?</p>-->
      <!--<featured-projects></featured-projects>-->
    <!--</div>-->
  <!--</div>-->


</section>
