/*** FEATURED PROJECT IMAGES   ***/
div.featured-projects-row {
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  display: -webkit-box;
  display: flex; }
  div.featured-projects-row div.featured-label {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    overflow: hidden; }
    div.featured-projects-row div.featured-label img.featured-project-img.img-responsive {
      width: 150px;
      height: 150px;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
      div.featured-projects-row div.featured-label img.featured-project-img.img-responsive:hover {
        -webkit-transform: scale(1.55);
                transform: scale(1.55); }

.featured-projects div div div {
  position: absolute;
  top: 0;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.featured-projects img {
  width: 125%;
  height: auto; }
  .featured-projects img:hover {
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 2.5s ease;
    transition: all 2.5s ease; }

.featured-projects-title {
  position: relative;
  height: 150px;
  width: 150px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  .featured-projects-title:hover {
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 2.5s ease;
    transition: all 2.5s ease; }
    .featured-projects-title:hover p {
      display: block; }
  .featured-projects-title > p {
    position: absolute;
    bottom: 0;
    text-align: left;
    display: none; }

featured-projects ul {
  -webkit-transform: translate(10%);
          transform: translate(10%); }

@media screen and (max-width: 400px) {
  div.featured-projects-row {
    padding: 0; }
    div.featured-projects-row div.featured-label {
      margin: 0; } }

/*** FEATURED PROJECT IMAGES   ***/
div.featured-projects-row {
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  height: 150px; }
  div.featured-projects-row ul {
    -webkit-transform: translate(10%);
            transform: translate(10%); }
    div.featured-projects-row ul div.featured-label {
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      width: 200px;
      overflow: hidden;
      position: absolute;
      top: 0;
      color: #ffffff;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      div.featured-projects-row ul div.featured-label img.featured-project-img.img-responsive {
        width: 150px;
        height: 150px;
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-transition: all 1s ease;
        transition: all 1s ease; }
        div.featured-projects-row ul div.featured-label img.featured-project-img.img-responsive:hover {
          background: rgba(0, 0, 0, 0.5);
          -webkit-transition: all 2.5s ease;
          transition: all 2.5s ease;
          -webkit-transform: scale(1.55);
                  transform: scale(1.55); }
        div.featured-projects-row ul div.featured-label img.featured-project-img.img-responsive .featured-projects-title {
          position: relative;
          height: 150px;
          width: 150px;
          -webkit-transition: all 0.15s ease;
          transition: all 0.15s ease; }
          div.featured-projects-row ul div.featured-label img.featured-project-img.img-responsive .featured-projects-title:hover {
            background: rgba(0, 0, 0, 0.5);
            -webkit-transition: all 2.5s ease;
            transition: all 2.5s ease; }
            div.featured-projects-row ul div.featured-label img.featured-project-img.img-responsive .featured-projects-title:hover p {
              display: block; }
          div.featured-projects-row ul div.featured-label img.featured-project-img.img-responsive .featured-projects-title p {
            position: absolute;
            bottom: 0;
            text-align: left; }

@media screen and (max-width: 400px) {
  div.featured-projects-row div.featured-label {
    margin: 0; }
  div.featured-projects-row {
    padding: 0; } }
