.md-btn1 {
  border: 2px solid #ffffff;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 500;
  padding: 0.25rem 1rem;
}

md-grid-list md-grid-tile {
    cursor: pointer;
}

.contrib-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contrib-tile-image {
    display: flex;
    object-fit: cover;
}

.project-tile-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contrib md-grid-tile md-grid-tile-footer {
    padding-left: 5%;
    color: #000000;
    font-size: 2.3rem;
}

md-content, md-input-container {
    width: 100%;
}

ng-md-icon[size="48"] {
  height: 50px;
  width: 50px;
}
