.project-sidebar {
    z-index: 100;
    right: 0;
    position: absolute;
    background: #1F1D1D;
    height: 100%;
    padding: 2% 1%;
    width: 25%;
    min-width: 300px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.project-sidebar.ng-show {
    opacity: 1;
    width: 25%;
    min-width: 300px;
}

.project-sidebar.ng-hide {
    opacity: 0;
    width: 0;
}

.project-sidebar div {
    color: #cdcdcd;
    padding: 5%;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.fa-chevron-right.project-close {
    font-size: 3rem;
    margin: 3% 0;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.fa-chevron-right.project-close:hover {
    color: rgba(2, 58, 49, 1);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
