.featured-projects div div div {
    position: absolute;
    top: 0;
    color: #ffffff;
    /*left: 10%;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*.featured-projects-title, .featured-projects img {*/
.featured-projects-title {
    position: relative;
    height: 150px;
    width: 150px;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.featured-projects-title:hover, .featured-projects img:hover {
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.featured-projects-title > p {
    position: absolute;
    bottom: 0;
    text-align: left;
    display: none;
}

.featured-projects-title:hover p {
    display: block;
}
